# Builds
quickshell/build/
**/build/

# Binários
*.so
*.o
*.a

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
install_manifest.txt

# Qt cache
.qt/
.rcc/

# Backups
*.bak
*.bak_*
*.save

# Temporários
*.tmp
*.log
